### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [7]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [14]:
SN = len(purchase_data["SN"].unique())
total_players = pd.DataFrame({"Total Players": [SN]})
total_players

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [16]:

unique_items = len(purchase_data["Item ID"].unique())
unique_items

average_price = purchase_data["Price"].mean()
average_price

purchases = purchase_data["Price"].count()
purchases

total_revenue = purchase_data["Price"].sum()
total_revenue

Summary = pd.DataFrame({"Number of Unique Items": [unique_items], "Average Price": [average_price],
                        "Number of Purchases": [purchases], "Total Revenue": [total_revenue]})
Summary.head()

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [31]:

player_demographics = purchase_data.loc[:, ["Gender", "SN","Age"]]
player_demographics

player_demographics = player_demographics.drop_duplicates()

gender = player_demographics["Gender"].value_counts()
gender


percentage = (gender / SN * 100)

gender_summary = pd.DataFrame({"Total Count": gender,"Percentage of Players": percentage})
gender_summary

gender_summary.head()

                       Total Count  Percentage of Players
Male                           484              84.027778
Female                          81              14.062500
Other / Non-Disclosed           11               1.909722


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [19]:
grouped_purchase_data = purchase_data.groupby(['Gender'])
print(grouped_purchase_data)
grouped_purchase_data.count().head(10)

purchase_count = grouped_purchase_data["Purchase ID"].count()
purchase_count

average_price = (grouped_purchase_data["Price"].sum()) / (grouped_purchase_data["Price"].count())
average_price

total_purchasevalue= grouped_purchase_data["Price"].sum()
total_purchasevalue

avg_total_pchse_per_person = total_purchasevalue / gender
avg_total_pchse_per_person

purchase_analysis = pd.DataFrame({"Purchase Count": purchase_count,
                                  "Average Purchase Price": average_price,
                                  "Total Purchase Value": total_purchasevalue, 
                                 "Avg Total Purchase per Person": avg_total_pchse_per_person
                                 })
purchase_analysis

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000002DE0D8933C8>

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [20]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 50]
group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
pd.cut(player_demographics["Age"], bins, labels=group_labels).head()

0    20-24
1      40+
2    20-24
3    20-24
4    20-24
Name: Age, dtype: category
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < 40+]

In [21]:
player_demographics["Age"] = pd.cut(player_demographics["Age"], bins, labels=group_labels)
player_demographics.head()

  Gender             SN    Age
0   Male        Lisim78  20-24
1   Male    Lisovynya38    40+
2   Male     Ithergue48  20-24
3   Male  Chamassasya86  20-24
4   Male      Iskosia90  20-24

In [22]:
age_group = player_demographics.groupby("Age")

age_count = age_group["Age"].count()
age_count

age_percentshare = age_count / 576*100
age_percentshare

age_demographic_summary = pd.DataFrame({"Total Count": age_count, "Percentage of Players": age_percentshare})
age_demographic_summary.head()

       Total Count  Percentage of Players
Age
<10             17               2.951389
10-14           22               3.819444
15-19          107              18.576389
20-24          258              44.791667
25-29           77              13.368056

## Purchasing Analysis (Age)

In [23]:
pd.cut(purchase_data["Age"], bins, labels=group_labels).head()

0    20-24
1      40+
2    20-24
3    20-24
4    20-24
Name: Age, dtype: category
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < 40+]

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [25]:
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,"(19, 24]"
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,"(39, 50]"
2,2,Ithergue48,24,Male,92,Final Critic,4.88,"(19, 24]"
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,"(19, 24]"
4,4,Iskosia90,23,Male,131,Fury,1.44,"(19, 24]"

In [26]:

purchaseanalysis_age = purchase_data.groupby("Age Group")
purchaseanalysis_age
print(purchaseanalysis_age)
purchaseanalysis_age.count().head(10)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000002DE0D893DD8>

           Purchase ID   SN  Age  Gender  Item ID  Item Name  Price
Age Group
(0, 9]              23   23   23      23       23         23     23
(9, 14]             28   28   28      28       28         28     28
(14, 19]           136  136  136     136      136        136    136
(19, 24]           365  365  365     365      365        365    365
(24, 29]           101  101  101     101      101        101    101
(29, 34]            73   73   73      73       73         73     73
(34, 39]            41   41   41      41       41         41     41
(39, 50]            13   13   13      13       13         13     13

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [28]:
summary = purchase_data.groupby("SN")["Price"].describe()
summary

top_spenders = pd.DataFrame({"Purchase Count": summary["count"],
                            "Average Purchase Price": summary["mean"],
                            "Total Purchase Value": summary["mean"]*summary["count"]
                        })
top_spenders = top_spenders.sort_values("Total Purchase Value", ascending=False)
top_spenders.head()

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93               5.0                3.792000                 18.96
Idastidru52             4.0                3.862500                 15.45
Chamjask73              3.0                4.610000                 13.83
Iral74                  4.0                3.405000                 13.62
Iskadarya95             3.0                4.366667                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [29]:

Popular_new = purchase_data.drop(columns=['SN', 'Age', 'Gender', 'Purchase ID', 'Age Group'])

Popular_new = Popular_new.groupby(['Item ID', 'Item Name'])['Price'].describe()
Popular_new = Popular_new.drop(columns=['std', 'min', '25%', '50%', '75%','max'])
Popular_new["Total Purchase Value"] = Popular_new["count"] * Popular_new["mean"]
Popular_new = Popular_new.rename(columns={"count": "Purchase Count", "mean": "Item Price"})
Popular_new.head()

                            Purchase Count  Item Price  Total Purchase Value
Item ID Item Name
0       Splinter                       4.0        1.28                  5.12
1       Crucifer                       3.0        3.26                  9.78
2       Verdict                        6.0        2.48                 14.88
3       Phantomlight                   6.0        2.49                 14.94
4       Bloodlord's Fetish             5.0        1.70                  8.50

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [30]:
most_profit = Popular_new.sort_values("Total Purchase Value", ascending=False)
most_profit

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12.0,4.23,50.76
82,Nirvana,9.0,4.90,44.10
145,Fiery Glass Crusader,9.0,4.58,41.22
92,Final Critic,8.0,4.88,39.04
103,Singed Scalpel,8.0,4.35,34.80
59,"Lightning, Etcher of the King",8.0,4.23,33.84
108,"Extraction, Quickblade Of Trembling Hands",9.0,3.53,31.77
78,"Glimmer, Ender of the Moon",7.0,4.40,30.80
72,Winter's Bite,8.0,3.77,30.16
60,Wolf,8.0,3.54,28.32
179,"Wolf, Promise of the Moonwalker",6.0,4.48,26.88
160,Azurewrath,6.0,4.40,26.40
25,Hero Cane,6.0,4.35,26.10
37,"Shadow Strike, Glory of Ending Hope",8.0,3.16,25.28
139,"Mercy, Katana of Dismay",5.0,4.94,24.70
128,"Blazeguard, Reach of Eternity",5.0,4.91,24.55
138,"Peacekeeper, Wit of Dark Magic",5.0,4.74,23.70
141,Persuasion,7.0,3.19,22.33
87,"Deluge, Edge of the West",5.0,4.43,22.15
159,"Oathbreaker, Spellblade of Trials",7.0,3.08,21.56
136,Ghastly Adamantite Protector,6.0,3.58,21.48
65,Conqueror Adamantite Mace,5.0,4.24,21.20
101,Final Critic,5.0,4.19,20.95
102,Avenger,6.0,3.44,20.64
133,Faith's Scimitar,5.0,4.09,20.45
39,"Betrayal, Whisper of Grieving Widows",5.0,3.94,19.70
111,Misery's End,4.0,4.89,19.56
165,Bone Crushing Silver Skewer,4.0,4.86,19.44
75,Brutality Ivory Warmace,8.0,2.42,19.36
52,Hatred,4.0,4.84,19.36
...,...,...,...,...
124,Venom Claymore,4.0,1.29,5.16
0,Splinter,4.0,1.28,5.12
155,War-Forged Gold Deflector,5.0,1.01,5.05
48,"Rage, Legacy of the Lone Victor",2.0,2.48,4.96
158,"Darkheart, Butcher of the Champion",2.0,2.45,4.90
51,Endbringer,1.0,4.66,4.66
134,Undead Crusader,1.0,4.50,4.50
30,Stormcaller,2.0,2.21,4.42
135,Warped Diamond Crusader,3.0,1.40,4.20
91,Celeste,1.0,4.17,4.17
177,"Winterthorn, Defender of Shifting Worlds",2.0,2.08,4.16
70,Hope's End,4.0,1.03,4.12
115,Spectral Diamond Doomblade,2.0,2.04,4.08
69,"Frenzy, Defender of the Harvest",2.0,1.98,3.96
47,"Alpha, Reach of Ending Hope",1.0,3.58,3.58
180,Stormcaller,1.0,3.36,3.36
27,"Riddle, Tribute of Ended Dreams",1.0,3.30,3.30
183,Dragon's Greatsword,3.0,1.09,3.27
31,Trickster,2.0,1.55,3.10
168,"Sun Strike, Jaws of Twisted Visions",2.0,1.48,2.96
90,Betrayer,1.0,2.94,2.94
33,Curved Axe,2.0,1.16,2.32
26,Unholy Wand,2.0,1.12,2.24
118,"Ghost Reaver, Longsword of Magic",1.0,2.17,2.17
28,"Flux, Destroyer of Due Diligence",2.0,1.06,2.12
125,Whistling Mithril Warblade,2.0,1.00,2.00
126,Exiled Mithril Longsword,1.0,2.00,2.00
23,Crucifer,1.0,1.99,1.99
104,Gladiator's Glaive,1.0,1.93,1.93
42,The Decapitator,1.0,1.75,1.75